.doc {
    display: flex;
    gap: 0.75rem;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    bottom: 1rem;
    background-color: rgba(55, 55, 55, 0.486);
    padding-inline: 1rem;
    padding-block: 0.75rem;
    border-radius: 0.75rem;
    backdrop-filter: blur(5px);
    z-index: 99;
    .icon {
        border-radius: 0.25rem;
        display: flex;
        align-items: center;
        justify-content: center;
        aspect-ratio: 1/1;
        cursor: pointer;
        width: 4rem;
        transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
        position: relative;
    } 
    .github,
    .cli {
        background-color: black;
    }
    .note {
        background: linear-gradient(to bottom, rgb(255, 179, 87), rgb(255, 153, 28));
    }
    .pdf {
        background: linear-gradient(to bottom, rgb(246, 100, 100), rgb(253, 55, 55));
    }
    .mail {
        background: linear-gradient(to bottom, rgb(89, 105, 251), rgb(60, 79, 250));
    }
    .skills {
        padding: 0.3rem;
        background: linear-gradient(to bottom, rgb(207, 207, 207), rgb(255, 255, 255));
    }
    .spotify {
        background: linear-gradient(to bottom, rgb(78, 176, 33), rgb(53, 142, 12));
    }
    .link {
        background: linear-gradient(to bottom, rgb(10, 102, 194), rgb(10, 102, 194));
        padding: 0rem 2rem;
    }

    .icon:hover {
        transform: scale(1.25) translateY(-20%);
    }

    .icon:hover + .icon,
    .icon:has(+ .icon:hover) {
        transform: scale(1.1) translateY(-10%);
    }

    .active-dot {
        position: absolute;
        bottom: -0.5rem;
        left: 50%;
        transform: translateX(-50%);
        width: 0.4rem;
        height: 0.4rem;
       
        background-color: #42d7426d;
        border-radius: 50%;
        z-index: 100;
        opacity: 0;
        transition: opacity 0.3s cubic-bezier(0.95, 0.05, 0.795, 0.035);
    }

    .active-dot.active {
        opacity: 1;
    }
}
