.git-card {
    border: 2px solid rgba(255, 255, 255, 0.08);

    background-color: #544f4f;
    border-radius: 0.5rem;
    padding: 0.75rem;
    transition: all 0.3s ease;
    cursor: pointer;
    margin-bottom: 1rem;
    --accent-color: #858585;
    &:hover {
        background-color: var(--accent-color);

        border: 3px solid var(--accent-color);
        background: radial-gradient(
            circle at 50% 60%,
            color-mix(in srgb, var(--accent-color) 40%, transparent),
            transparent 60%
        );
    }

    .card-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 0.5rem;

        .card-title {
            margin: 0;
            font-size: 0.9rem;
            color: #cccaca;
            font-weight: 700;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .card-badge {
            background-color: rgba(216, 208, 208, 0.2);
            color: rgba(216, 208, 208, 0.8);
            padding: 0.2rem 0.5rem;
            border-radius: 0.25rem;
            font-size: 0.7rem;
            white-space: nowrap;
            margin-left: 0.5rem;
        }
    }

    .card-meta {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 0.5rem;

        .language-info {
            display: flex;
            align-items: center;
            gap: 0.4rem;

            .language-dot {
                width: 8px;
                height: 8px;
                border-radius: 50%;
            }

            .language-name {
                font-size: 0.75rem;
                color: rgba(216, 208, 208, 0.8);
            }
        }

        .updated-time {
            font-size: 0.75rem;
            color: rgba(216, 208, 208, 0.6);
            white-space: nowrap;
        }
    }
}
